@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500");

body {
  margin: 0;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  perspective: 2000px;

  /* background: #11e8bb;  */
  /* background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%);  */
  /* background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%);  */
  /* background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%);  */
  background-image: linear-gradient(45deg, rgb(58, 71, 131), rgb(17, 22, 46));
}

canvas {
  width: 100%;
  height: 100%;
  /* display: none; */
}

.spinner {
  border: solid thin #ccc;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s ease;
  filter: saturate(20px);
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
}

.dot:nth-child(odd) {
  background: #11e8bb;
}

.dot:nth-child(even) {
  background:  #8200c9;
}

.dot:nth-child(1) {
  top: 11%;
  left: 11%;
}

.dot:nth-child(2) {
  top: -7.5px;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(3) {
  top: 11%;
  right: 11%;
}

.dot:nth-child(4) {
  top: 50%;
  right: -7.5px;
  transform: translateY(-50%);
}

.dot:nth-child(5) {
  bottom: 11%;
  right: 11%;
}

.dot:nth-child(6) {
  bottom: -7.5px;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(7) {
  bottom: 11%;
  left: 11%;
}

.dot:nth-child(8) {
  top: 50%;
  left: -7.5px;
  transform: translateY(-50%);
}

.spinner-container {
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
}

.event-name {
  position: absolute;
  bottom: 10px;
  font-size: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
}

.event-desc {
  position: absolute;
  left: 20px;
  top: 43%;
  z-index: 100;
  color: white;
  font-size: 22px;
  max-width: 49vw;
  margin: 0 5vw;
  padding: 20px;
  transition: transform 1s ease-in-out, opacity 0.1s ease;
  background: rgb(17, 22, 46);
  transform: rotateY(15deg);
  border-radius: 15px;
  font-weight: 400;
}

.event-details {
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 100;
  color: white;
  font-size: 18px;
  max-width: 29vw;
  margin: 0 5vw;
  padding: 20px;
  transition: transform 1s ease-in-out, opacity 0.1s ease;
  background: rgb(17, 22, 46);
  transform: rotateY(-15deg);
  border-radius: 15px;
  font-weight: 400;
}

.invisible {
  opacity: 0;
  transform: translateY(100vh);
}

@media only screen and (min-width: 1500px) {
  .event-desc {
    font-size: 30px;
  }
}

.button {
  margin: 30px 7vw 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border: solid thin rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.2s ease;
}

.half {
  display: inline-block;
  margin: 30px auto 10px;
}

.btn-container {
  display: flex;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: solid thin rgba(255, 255, 255, 0.1);
}

.hidden {
  display: none;
}

.profile-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  transition: all 1s ease;
  cursor: pointer;
  height: 70px;
}

.profile-icon:hover {
  background: rgba(255, 255, 255, 0.3);
}

.profile-icon img {
  height: 70px;
}