<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Join Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/auth.css" />
    <script src="js/auth.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div id="auth" class="login-active">
      <div id="login-box" class="auth-half">
        <div id="login-container">
          <div class="heading">
            Sign in to be a part of Prometheus
          </div>
          <form id="login-form" class="form">
            <input type="text" name="email" autocomplete="email" placeholder="Email" />
            <input type="password" name="password" autocomplete="password" placeholder="Password" />
            <button class="button solid">SIGN IN</button>
          </form>
        </div>
      </div>
      <div id="register-box" class="auth-half">
        <div id="register-container">
          <div class="heading">
            Create an Account
          </div>
          <form id="reg-form" class="form">
            <input maxlength="200" required type="text" name="name" placeholder="Name" autocomplete="name" />
            <input maxlength="200" required type="email" name="email" placeholder="Email" autocomplete="email" />
            <input maxlength="200" required type="text" name="mobile" placeholder="Mobile" autocomplete="tel" />
            <input maxlength="200" minlength="8" required type="password" name="password" placeholder="Password" autocomplete="off" />
            <div id='recaptcha' class="g-recaptcha"
              data-sitekey="6LcxF5oUAAAAAIQL_JFO-2OKgJyvNIirCCeX7Jnt"
              data-callback="onSubmit"
              data-size="invisible"></div>
            <button class="button solid">SIGN UP</button>
          </form>
        </div>
      </div>
      <div id="auth-details">
        <div class="auth-detail signin">
          <div class="title">HELLO!</div>
          <div class="message">
            Sign up now to participate in Prometheus 8, view all events, and make teams with your friends!
          </div>
          <div class="message-mobile">
            Already have an account?
          </div>
          <div>
            <button class="button" onclick="changeAuth()">SIGN IN</button>
          </div>
        </div>
        <div class="auth-detail signup">
          <div class="title">Welcome<br />Back</div>
          <div class="message">
            Login to view all your teams and register for events!
          </div>
          <div class="message-mobile">
            Don't have an account?
          </div>
          <div>
            <button class="button" onclick="changeAuth()">SIGN UP</button>
          </div>
        </div>
        <script>
          window.location.href.includes("signup") ? changeAuth() : null;
        </script>
      </div>
    </div>
    <div id="snackbar"></div>
  </body>
</html>
