<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#1C1330" />
    <meta name="description" content="IECSE presents to you Prometheus 8.0, a 3 day tech fest powered by GitHub. Whether you are fuelled by code, a creative expressing thoughts through graphic design, someone who loves cracking open problems to their core and then finding the smartest solution or just a big ol'  fun loving trivia fanatic, we have an event for you!
    So join us from 29th to 31st March as we spend a weekend fighting for the rebellion, gambling on our codes, and searching for the unknown." />
    <meta property="og:url" content="https://prometheus.iecsemanipal.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Prometheus by IECSE" />
    <meta property="og:description" content="A three day Tech Fest powered by GitHub with events ranging across all domains be it coding, graphic design or non-technical." />
    <meta property="og:image" content="https://prometheus.iecsemanipal.com/images/prometheus.png" itemprop="image" />
    <meta property="og:type" content="website" />
    <meta name="keywords" content="IECSE,Prometheus,Bamboozled,Battleship,Cicada,Gambit,HawkEye,Mystery Room,Negative Space,Online Coding">
    <meta name="author" content="IECSE">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->

    <title>Prometheus</title>
    <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="css/events.css"
    />
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="images/prom-logo.png" sizes="16x16" type="image/png" />

    <script src="js/qrious.min.js"></script>
    <script src="js/Tween.js"></script>
    <script src="js/three.js"></script>
    <script src="js/instascan.min.js"></script>
    <script src="js/events.js"></script>
  </head>
  <body>
    <style>
      .overlay.loading {
        z-index: 500;
        opacity: 1;
      }
    </style>
    <canvas style="display: none" id="qr"></canvas>
    <div class="overlay loading"></div>
    <div id="main"></div>
    <div class="profile-icon"><img src="/images/Logo-01.svg" /></div>
    <span id="nav-btn">
      <a href="/api/auth/logout">
        <button class="logout btn">Logout</button>
      </a>
      <button class="home btn hidden">Back</button>
    </span>
    <div class="mobile">
      <div class="event-desc"></div>
      <div class="event-details">
        <div class="detail"><strong>Team Size:</strong><div id="min-size"></div> - <div id="max-size"></div></div>
        <div class="btn-container">
          <h2 id="register-btn" class="button half hidden">REGISTER</h2>
          <a id="start-btn" class="hidden" target="_blank"><h2 class="button half">START</h2></a>
          <h2 id="team-btn" class="button half hidden">VIEW TEAM</h2>
          <h2 id="join-btn" class="button half hidden">JOIN TEAM</h2>
          <h2 id="add-btn" class="button half hidden">CREATE TEAM</h2>
          <h2 id="unregister-btn" class="button half hidden">UNREGISTER</h2>
        </div>
      </div>
    </div>
    <div class="event-name"></div>
    <div id="snackbar"></div>
    <div class="modal">
      <div class="modal-inner">
        <div class="close">&times;</div>
        <form class="create-team hidden">
          <label for="team-name">Choose a team name</label>
          <input id="team-name" type="text" name="name" autocomplete="off" placeholder="Example: Team Name" />
          <button type="submit">Go</button>
        </form>
        <div class="team-data hidden">
          <div class="team-name"></div>
          <div class="team-members"></div>
          <div class="add-members hidden"><button id="add-member-btn">Add Members</button></div>
        </div>
        <div class="qr-scanner">
          <video playsinline="true" id="preview"></video>
        </div>
      </div>
    </div>
    <div id="left-arrow" class="arrow-container"><div class="arrow"><div></div><div></div></div></div>
    <div class="spinner-container">
      <div class="spinner">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div id="right-arrow" class="arrow-container"><div class="arrow"><div></div><div></div></div></div>
  </body>
</html>
