@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500");

body {
  margin: 0;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  perspective: 2000px;

  /* background: #11e8bb;  */
  /* background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%);  */
  /* background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%);  */
  /* background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%);  */
  background-image: linear-gradient(45deg, rgb(58, 71, 131), rgb(17, 22, 46));
}

* {
  box-sizing: border-box;
}

canvas {
  width: 100%;
  height: 100%;
  /* display: none; */
}

.spinner {
  border: dotted 4px rgba(255, 255, 255, 0.1);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s ease;
  filter: saturate(20px);
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
}

.dot:nth-child(odd) {
  background: #11e8bb;
}

.dot:nth-child(even) {
  background: #8200c9;
}

.dot:nth-child(1) {
  top: 10.25%;
  left: 10.25%;
}

.dot:nth-child(2) {
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(3) {
  top: 10.25%;
  right: 10.25%;
}

.dot:nth-child(4) {
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.dot:nth-child(5) {
  bottom: 10.25%;
  right: 10.25%;
}

.dot:nth-child(6) {
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(7) {
  bottom: 10.25%;
  left: 10.25%;
}

.dot:nth-child(8) {
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.spinner-container {
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
}

.event-name {
  position: absolute;
  bottom: 10px;
  font-size: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
}

.event-desc {
  position: absolute;
  left: 20px;
  top: 43%;
  z-index: 100;
  color: white;
  font-size: 22px;
  max-width: 49vw;
  margin: 0 5vw;
  padding: 20px;
  transition: transform 1s ease-in-out, opacity 0.1s ease;
  background: rgb(17, 22, 46);
  transform: rotateY(15deg);
  border-radius: 15px;
  font-weight: 400;
}

.event-details {
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 100;
  color: white;
  font-size: 18px;
  max-width: 29vw;
  margin: 0 5vw;
  padding: 20px;
  transition: transform 1s ease-in-out, opacity 0.1s ease;
  background: rgb(17, 22, 46);
  transform: rotateY(-15deg);
  border-radius: 15px;
  font-weight: 400;
}

.invisible {
  opacity: 0;
  transform: translateY(100vh);
}

@media only screen and (min-width: 1500px) {
  .event-desc {
    font-size: 30px;
  }
}

.button {
  min-width: 120px;
  margin: 5px 7vw;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border: solid thin rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.2s ease;
}

.half {
  display: inline-block;
  margin: 10px 20px;
}

.btn-container {
  min-width: 300px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: flex;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: solid thin rgba(255, 255, 255, 0.1);
}

.hidden {
  display: none !important;
}

.profile-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  transition: all 1s ease;
  cursor: pointer;
  height: 70px;
}

.profile-icon:hover {
  background: rgba(255, 255, 255, 0.3);
}

.profile-icon img {
  height: 70px;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.overlay.active {
  z-index: 500;
  opacity: 0.8;
}

.modal {
  height: 70vh;
  width: 60%;
  z-index: 600;
  background: #222;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s ease;
}

.modal.open {
  z-index: 600;
  opacity: 1;
}

.close {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 40px;
  font-weight: 500;
  transition: color 0.2s ease;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.close:hover {
  color: white;
}

.modal-inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.create-team {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.create-team input {
  background: #ddd;
  border: none;
  color: black;
  font-family: inherit;
  font-size: inherit;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  width: 330px;
}

.create-team label {
  font-size: 2.3rem;
  margin: 30px;
}

.create-team button, .add-members button {
  background: #444;
  color: white;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-members {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.team-data {
  position: relative;
  color: white;
  padding: 30px;
  height: 100%;
}

.team-name {
  font-size: 2rem;
  margin-bottom: 20px;
}

.team-members {
  width: 100%;
  margin: 0 auto;
}

.cross {
  font-size: 2rem;
  color: #dd0000;
  font-weight: 500;
}

.member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 15px;
}

.member:not(:last-child) {
  border-bottom: solid thin rgba(255, 255, 255, 0.1);
}

.team-btn {
  background: #333;
  border-radius: 5px;
  padding: 7px 13px;
  cursor: pointer;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.detail {
  margin-bottom: 20px;
}

.detail > div {
  display: inline-block;
}

.detail strong {
  margin-right: 20px;
}

#snackbar {
  z-index: 20000;
  text-align: center;
  position: fixed;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  padding: 10px 20px;
  color: #fff;
}

#snackbar.success {
  background: #00b84a;
}

#snackbar.danger {
  background: #a94442;
}

a {
  color: inherit;
}

#snackbar.open {
  -webkit-transform: translate(-50%, -120px);
  -ms-transform: translate(-50%, -120px);
  transform: translate(-50%, -120px);
}

.arrow > div {
  background: rgba(255, 255, 255, 0.7);
  height: 5px;
  width: 20px;
  position: absolute;
  bottom: 30px;
}

.arrow > div:first-child {
  transform: translateX(6px) rotate(45deg);
}

.arrow > div:last-child {
  transform: translateX(-6px) rotate(-45deg);
}
